.nav-bar {
    display: flex;
    height: 100%;
    background-color: transparent;
}

.nav-bar span {
    flex: 25%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    word-wrap: break-word;
}